body.ModernSIS[id="white"] {
  --primary-color: #603f26;
  --secondary-color: #f0f4f8;
  --text-color: #333333;
  --background-color: #ffffff;
  --hover-color: #011124;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --gradient-color: linear-gradient(135deg, #e0f7fa, #b9fbc0);
  --border-radius: 5px;
  --table-header-bg: #002d58;
  --table-header-color: #f0f4f8;
  --table-cell-bg: #ffffff;
  --table-cell-color: #002d58;
  --table-cell-bg-alt: #ecdfcc;
  --table-cell-bg-selected: #19a7ce;
  --table-borders: #002d58;
}

body.ModernSIS[id="pink"] {
  --primary-color: #ff5c8d;
  --secondary-color: #ffe1f0;
  --text-color: #880e4f;
  --background-color: #fff5f7;
  --hover-color: #ff8ab3;
  --box-shadow-color: rgba(255, 92, 141, 0.3);
  --gradient-color: linear-gradient(135deg, #ff6f61, #ff5c8d);
  --border-radius: 10px;
  --table-header-bg: #880e4f;
  --table-header-color: #ffe1f0;
  --table-cell-bg: #ffe1f0;
  --table-cell-color: #880e4f;
  --table-cell-bg-alt: #f8bbd0;
  --table-cell-bg-selected: #ff5c8d;
  --table-borders: #f48fb1;
}

body.ModernSIS[id="navy"] {
  --primary-color: #5b99c2;
  --secondary-color: #95a5a6;
  --text-color: #dde6ed;
  --background-color: #27374d;
  --hover-color: #176b87;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --gradient-color: linear-gradient(135deg, #2c3e50, #34495e);
  --border-radius: 5px;
  --table-header-bg: #634f36;
  --table-header-color: #ecf0f1;
  --table-cell-bg: #153448;
  --table-cell-color: #ffffff;
  --table-cell-bg-alt: #1e4864;
  --table-cell-bg-selected: #928878;
  --table-borders: #282623;
}

body.ModernSIS[id="black"] {
  --primary-color: #5b99c2;
  --secondary-color: #333333;
  --text-color: #dde6ed;
  --background-color: #1e1e1e;
  --hover-color: #666666;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --gradient-color: linear-gradient(135deg, #333333, #000000);
  --border-radius: 5px;
  --table-header-bg: #313240;
  --table-header-color: #ffffff;
  --table-cell-bg: #1e1e1e;
  --table-cell-color: #ffffff;
  --table-cell-bg-alt: #2f2f2f;
  --table-cell-bg-selected: #0e5468;
  --table-borders: #313240;
}
body.ModernSIS[id="mocha"] {
  --primary-color: #d1b28e;
  --secondary-color: #444b6a;
  --text-color: #c6c8d1;
  --background-color: #1e1e2e;
  --hover-color: #89b4fa;
  --box-shadow-color: rgba(28, 27, 45, 0.2);
  --gradient-color: linear-gradient(135deg, #f4dbd6, #b4befe);
  --border-radius: 5px;
  --table-header-bg: #575268;
  --table-header-color: #f5e0dc;
  --table-cell-bg: #1e1e2e;
  --table-cell-color: #f5e0dc;
  --table-cell-bg-alt: #302d41;
  --table-cell-bg-selected: #a6e3a1;
  --table-borders: #575268;
}

body.ModernSIS {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

body.ModernSIS h1,
body.ModernSIS h2,
body.ModernSIS h3,
body.ModernSIS h4,
body.ModernSIS h5,
body.ModernSIS h6 {
  color: var(--text-color);
  text-shadow: 2px 2px 5px var(--box-shadow-color);
  animation: fadeInDown 1s ease-in-out;
  font-weight: bold;
}
body.ModernSIS #Table1 {
  border: 0 !important;
}
body.ModernSIS #Form1 h1 {
  padding: 10px 0;
  margin: 20px 0 0;
  text-align: center;
}

body.ModernSIS .grid-container { 
  /* TODO: rewrite grid for Future Updates */
  grid-template-columns: auto auto !important;
}

body.ModernSIS .grid-item {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--secondary-color) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: 0 8px 20px var(--box-shadow-color) !important;
  padding: 10px 20px !important;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

body.ModernSIS .grid-item:hover {
  box-shadow: 0 12px 30px var(--box-shadow-color);
  transform: translateY(-5px);
}

body.ModernSIS .grid-item h4 {
  margin-top: 10px;
}

body.ModernSIS p {
  color: var(--text-color) !important;
}

body.ModernSIS a {
  color: var(--primary-color) !important;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: var(--border-radius);
}

body.ModernSIS a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

body.ModernSIS button,
body.ModernSIS input[type="button"],
body.ModernSIS input[type="submit"] {
  background: var(--gradient-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px var(--box-shadow-color);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

body.ModernSIS button:hover,
body.ModernSIS input[type="button"]:hover,
body.ModernSIS input[type="submit"]:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px var(--box-shadow-color);
}

body.ModernSIS input[type="text"],
body.ModernSIS input[type="email"],
body.ModernSIS input[type="password"],
body.ModernSIS textarea {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body.ModernSIS input[type="text"]:focus,
body.ModernSIS input[type="email"]:focus,
body.ModernSIS input[type="password"]:focus,
body.ModernSIS textarea:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  outline: none;
}

body.ModernSIS select {
  appearance: none;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23ecf0f1" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

body.ModernSIS select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  outline: none;
}

body.ModernSIS legend {
  color: var(--text-color) !important;
}

body.ModernSIS fieldset {
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
}
/* TABLE START */

body.ModernSIS td {
  color: var(--text-color) !important;
}

body.ModernSIS a {
  color: var(--primary-color) !important;
}

body.ModernSIS .NormGrid {
  border-color: var(--table-borders) !important;
}

body.ModernSIS .NormGrid th {
  background-color: var(--table-header-bg) !important;
  color: var(--table-header-color) !important;
  font-weight: bold !important;
  border-color: var(--table-borders) !important;
}

body.ModernSIS .NormGrid td {
  background-color: var(--table-cell-bg) !important;
  color: var(--table-cell-color) !important;
  border-color: var(--table-borders) !important;
}

body.ModernSIS .NormGrid tr {
  border-color: var(--table-borders) !important;
}

body.ModernSIS .NormGrid .alt {
  background-color: var(--table-cell-bg-alt) !important;
}

body.ModernSIS .NormGrid .alt td {
  background-color: var(--table-cell-bg-alt) !important;
}

body.ModernSIS .selected td {
  background-color: var(--table-cell-bg-selected) !important;
}
/* TABLE END */
/* EXCEPTION START */
body.ModernSIS #divGraduationCeremony img {
  display: none !important;
}

body.ModernSIS #divStudentInfo font,
body.ModernSIS #divPersonalData font,
body.ModernSIS #SectionsHeaderRow span {
  color: var(--text-color);
}
/* EXCEPTION END */
/* LOGIN PAGE START */

body.ModernSIS #pnlLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.copyright {
  width: 100%;
}

/* LOGIN PAGE END */
/* LOADING GID START */

body.ModernSIS #uprMain {
  background: url("chrome-extension://__MSG_@@extension_id__/imgs/misc/loading.gif")
    no-repeat center !important;
  background-size: 100px 75px !important;
}

body.ModernSIS #ipMain {
  opacity: 0;
}

/* LOADING GID END */
