/* Establish Dark Mode Color Variables */
:root {
  --background-color: #121212; /* Very dark gray for body background */
  --card-background-color: #1e1e1e; /* Slightly lighter dark gray for cards */
  --text-color: #e0e0e0; /* Light gray for general text */
  --heading-color: #ffffff; /* White for headings */
  --link-color: #bb86fc; /* Purple for links */
  --border-color: #333333; /* Darker gray for borders */
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

#HeaderReg_imgBanner {
  padding: 150px 200px 0px 0px !important;
  background: url("https://www.aou.edu.eg/assets/aou/images/slider/v2-03.jpg") !important;
  background-size: cover !important;
  content-visibility: hidden !important;
  height: 160px !important;
  width: -webkit-fill-available !important;
}

form h1 {
  padding: 10px 0 10px 0px;
  margin: 20px 0 0;
  text-align: center;
}

.grid-item {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 10px;
  padding: 15px;
  /* box-shadow: 0 2px 5px rgba(37, 106, 5, 0.2); */
}

h1,
h2,
h3 {
  color: var(--heading-color) !important;
  font-weight: bold;
}

p {
  color: var(--text-color) !important;
}

/* Links */
a {
  color: var(--link-color) !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

font {
  color: var(--text-color) !important;
}

input,
textarea,
select,
button {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px 0;
}

legend {
  color: var(--text-color) !important;
}

fieldset {
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
  /* background-color: var(--card-background-color) !important; */
}

.NormGrid th {
  background-color: #002d58 !important;
  color: var(--text-color) !important;
  font-weight: bold !important;
}

.NormGrid td {
  background-color: var(--card-background-color) !important;
  
}

td {
  color: var(--text-color) !important;
}
table span,
table text {
  color: var(--text-color) !important;
}

.sky_blue-bgcolor {
  background-color: var(--card-background-color) !important;
}