body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

h1 img {
  margin-right: 10px;
}

p {
  font-size: 14px;
  margin: 0;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 160px;
  margin: 0;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

img {
  width: 32px;
  height: 32px;
  transition: transform 0.2s;
}

.radio-group img:hover {
  transform: scale(1.2);
}

.SocialMedia svg {
  margin-left: 1px;
  margin-right: 1px;
  color: #dde6ed;
}

#share {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

#share #pre,
#share #hover,
#share #checked {
  display: block;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions for opacity and scale */
}

#share #hover,
#share #checked {
  opacity: 0;
  display: none;
}

#share:hover #pre {
  opacity: 0;
  display: none;
}

#share:hover #hover {
  opacity: 1;
  display: block;
}

#share.clicked #pre,
#share.clicked #hover {
  display: none;
}

#share.clicked #checked {
  opacity: 1;
  display: block;
}

#message {
  transition: opacity 0.1s ease;
  opacity: 1;
}

#footer #message {
  display: block;
}

#footer #copied {
  display: none;
}

#footer.copied #message {
  display: none;
}

#footer.copied #copied {
  display: block;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
